* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  background-color: azure;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.navbar_brand {
  width: 100px;
}

.navbar_logo {
  width: 100%;
}

.button_primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
}

.button_primary:hover {
  border: 4px solid crimson;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.hero_image_container {
  width: 100%;
}

.hero_image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero_description {
  width: 100%;
}

.hero_text {
  font-size: 50px;
  margin: 20px 0;
  color: darkorchid;
}

.food_card {
  background-color: darkseagreen;
}

.food_card_description {
  padding: 15px;
}

.food_card_image {
  width: 100%;
}

.food_image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.explore_menu_text {
  margin: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }
  .explore_menu_list {
    display: flex;
    gap: 15px;
  }
}

.hero_container {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#pizza_card {
  margin-top: -20px;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 70%;
  }
  .navbar_brand {
    width: 150px;
  }
  .button_primary {
    padding: 20px;
    font-size: 20px;
    border-radius: 6px;
    font-weight: 600;
  }
}
